[submodule "lab1"]
	path = lab1
	url = https://github.com/obraztsovm/lab1-algo.git
[submodule "lab2"]
	path = lab2
	url = https://github.com/obraztsovm/lab2-algo.git
[submodule "lab3"]
	path = lab3
	url = https://github.com/obraztsovm/lab3-algo.git
[submodule "lab4"]
	path = lab4
	url = https://github.com/obraztsovm/lab4-algo.git
[submodule "lab5"]
	path = lab5
	url = https://github.com/obraztsovm/lab5-algo.git
[submodule "lab6"]
	path = lab6
	url = https://github.com/obraztsovm/lab6-algo.git
